:root {
  --color-primary-hue: 280deg;
  --color-primary-chroma: 10%;
  --color-primary-lightness: 70%;
  --colors-secondary-hue-angle: 30deg;
}

.sinetris {
  margin: auto;
  display: block;
  border-radius: 50%;
  border-width: .25em;
}

nav.primary {
  .brand {
    padding: .1em;

    img, svg {
      max-height: 3.25em;
      margin-right: .2em;
    }

    hgroup {
      text-align: right;

      span {
        font-size: 1.8em;
      }

      p {
        font-size: 1em;
      }
    }
  }
}

[data-function="mobile-menu"] {
  height: 1.9em;

  &::before {
    font-size: 2em;
  }
}

body.about-page>main .logos {
  width: 100%;
  margin: auto;
  text-align: center;

  img {
    width: 40%;
    margin: auto;
    display: block;
  }

  svg {
    min-width: 5em;
    min-height: 5em;
  }
}

@media only screen and (width <= 1024px) {
  nav.primary {
    .brand {
      margin: 0;
      font-size: 1rem;

      img,
      svg {
        max-height: 3em;
      }

      hgroup {
        text-align: right;

        p {
          font-size: 1em;
        }
      }
    }
  }
}

@media only screen and (width <= 480px) {
  nav.primary {
    .brand {
      font-size: 1rem;

      img,
      svg {
        margin: 0;
      }

      .title {
        span {
          font-size: 1.5em;
        }

        p {
          font-size: .9em;
        }
      }
    }
  }
}

@media only screen and (width <= 390px) {
  nav.primary {
    .brand {
      .title {
        span {
          font-size: 1.3em;
        }

        p {
          font-size: .8em;
        }
      }
    }
  }
}

@media only screen and (width < 375px) {
  nav.primary {
    .brand {
      .title {
        span {
          font-size: 1.1em;
        }

        p {
          font-size: .7em;
        }
      }
    }
  }
}
